---
title: Release Notes for Boomi AtomSphere Integration Services for PCF
owner: Partners
---

These are release notes for Boomi AtomSphere Integration Services for PCF.

##<a id="ver0_9_1"></a> v0.9.1

**Release Date:** September 07, 2017

Features included in this release:

* Fixed minor installation problem when atom name included certain characters

##<a id="ver0_9_0"></a> v0.9.0

**Release Date:** August 21, 2017

Features included in this release:

* Initial Beta release of the Boomi AtomSphere Integration Services for PCF tile
* Ability to provision one or more Boomi Atoms on individual VMs
